.contents
  = render "shared/side_bar"
  .main
    .header
      .header__group_box
        .header__group_box__name
          = @group.name
        .header__group_box__members
          Member:
          - @group.users.each do |user|
            = user.name
      .header__edit_button
        = link_to "Edit", edit_group_path(@group)
    .body
      = render @messages
    .form
      .form_box
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'form_box__message', placeholder: 'type a message'
          .form_box__buttons
            = f.label :image, class: 'image_button' do
              = fa_icon 'picture-o', class: 'icons'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'send_button'
