.contents
  .sidebar
    .sidebar-header
      .sidebar-header__user-name 名前
      .sidebar-header__edit-button
        = link_to '#' do
          .fa.fa-edit.fa-white
        = link_to '#' do
          .fa.fa-cog.fa-white
    .sidebar-body
      = render "sidebar-name"
  .main
    .header
      .header-groupbox
        .header-groupbox__name sampleグループ
        .header-groupbox__members グループ参加メンバー名
      = link_to '#' do
        .header__edit-button Edit
    .body
      .body-chatbox
        = render "chat-box"
    .footer
      .footer-box
        .footer-box-frame
          .footer-box-frame__message メッセージをここにタイプします
          .footer-box-frame__buttons
            .buttons-frame
              .buttons-frame__imgbtn
                .fa.fa-image.fa-lg
              .buttons-frame__sendbtn Send
