.contents
  = render "shared/side_bar"
  .main
    .header
      .header__group_box
        .header__group_box__name
          = @group.name
        .header__group_box__members
          Member:
          - @group.users.each do |user|
            = user.name
      = link_to 'group/#{group_id}/edit' do
        .header__edit_button Edit
    .body
      .body__chat_box
        = render @messages
    .form
      .form_box
        .form_box_frame
          = form_for [@group, @message] do |f|
            = f.text_field :body, class: 'form_box_frame__message', placeholder: 'type a message'
            .form_box_frame__buttons
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icons'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form_box_frame__buttons__send_button'
